/**https://coolors.co/8e9b90-93c0a4-b6c4a2-d4cdab **/

:root{


    --primay-color:#93c0a4;
    --secondary-color:#8e9b90;
    --accent1-color:#b6c4a2;
    --accent2-color:#8E9B90;
    --standar-padding: 10px;
}

*{ padding: 1px;
   box-sizing: border-box;
}

a{
    text-decoration: none;}


h1, h2, a{
    color: var(--primay-color);
}

p{
color: var(--secondary-color)
}
/*************************************************************************/
footer .sociallinks a {
    display: inline-block; /* Esto permite aplicar ancho y alto */
    width: 50px;           /* Limita el ancho */
    height: 50px;          /* Limita la altura */
    margin: 10px;           /* Añade un poco de espacio entre los iconos */
}

footer .sociallinks img {
    width: 100%;           /* Asegura que la imagen se ajuste al tamaño del contenedor */
    height: 100%;          /* La imagen también se ajusta en altura */
    object-fit: cover;     /* Mantiene la relación de aspecto de la imagen */
}
/***************************************************************************/

/*The div with the class of hero is positioned relative in order the h1 and the article elements to be positioned on top of the hero image using absolute positioning.*/
 

 .hero{
     
    position:relative ;
 }
.hero img{
    display: block;
    width: 100%;
    height: auto;
}


.hero h1 {
    position: absolute;
    top: 5%;
    right: 1%;
    text-align: center;
    width: 98%; /* Asegura que el h1 abarque todo el ancho del div */
    color: white; /* Color del texto */
    background-color: rgba(0, 0, 0, 0.2); /* Fondo negro semitransparente */
    
     z-index: 2; /* Coloca el h1 por encima de la imagen de fondo */
}

 .hero article {
    position: absolute;
    right: 5%;                /* Posición a la derecha */
    top: 20%;                 /* Posición central desde arriba */
    width: 90%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4); /* Fondo negro semitransparente */
    z-index: 2;
}

.hero article p {
    width: 100%;
    position: relative;        /* Cambié de absolute a relative para que se posicione dentro del article */
    color: white;
    margin: 0;
}

.hero article img {
    float: right;              /* Coloca la imagen a la derecha */
    width: 25%;
    height: auto;
    margin-left: 20px;
}


section img {
    display: block;
    width: 20%;    /*ajusta el ancho según sea necesario */
    margin-bottom: 10px;  /* Añade espacio entre las imágenes, si lo deseo */
}

 