/**https://coolors.co/8e9b90-93c0a4-b6c4a2-d4cdab **/

:root{


    --primay-color:#93c0a4;
    --secondary-color:#8e9b90;
    --accent1-color:#b6c4a2;
    --accent2-color:#8E9B90;
    --standar-padding: 10px;
    --text-color: white;
}

*{ padding: 1px;
   box-sizing: border-box;

}

a{
    text-decoration: none;}


h1, h2, a{
    color: var(--primay-color);
}

p{
color: var(--text-color)}

/***************************************************************************/

.space{
    background-color: var(--secondary-color);
    height: 10px;
}
/*The div with the class of hero is positioned relative in order the h1 and the article elements to be positioned on top of the hero image using absolute positioning.*/
 

 .hero{
     
    position:relative ;
 }
.hero img{
    display: block;
    width: 100%;
    height: auto;
}


.hero h1 {
    position: absolute;
    top: 5%;
    right: 1%;
    text-align: center;
    width: 98%; /* Asegura que el h1 abarque todo el ancho del div */
    color: var(--text-color)
    background-color: rgba(0, 0, 0, 0.2); /* Fondo negro semitransparente */
    
     z-index: 2; /* Coloca el h1 por encima de la imagen de fondo */
}

 .hero article {
    position: absolute;
    right: 5%;                /* Posición a la derecha */
    top: 20%;                 /* Posición central desde arriba */
    width: 90%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4); /* Fondo negro semitransparente */
    z-index: 2;
}

.hero article p {
    width: 100%;
    position: relative;        /* Cambié de absolute a relative para que se posicione dentro del article */
    color: var(--text-color)
    margin: 0;
}

.hero article img {
    float: right;              /* Coloca la imagen a la derecha */
    width: 25%;
    height: auto;
    margin-left: 20px;
}


section img {
    display: block;
    width: 20%;    /*ajusta el ancho según sea necesario */
    margin-bottom: 10px;  /* Añade espacio entre las imágenes, si lo deseo */
}

 /**************** Header enhancement******************/
 .header-grid-container{
    background-color: var(--primay-color);
    display: grid;
    display: flex;
    grid-template-columns:3fr 3fr;
    align-items: center;  
    justify-content: space-around;  
    

 }
 /**************** Nav enhancement******************/
 .nav-flex-container{
    display:flex;
     

 }

 nav a{

    width: 150px;
    height: 50px;
    color: var(--text-color)
     
 }

/**************** section-history and history-div enhancement******************/
 
.section-history {
    background-color: var(--primay-color);
    text-align: center   
}

h2{
    color: var(--text-color)
}
.history-div{

    display: grid;
    display: flex;
         
    justify-content: space-evenly; 
    justify-content: space-around;
}

/**************** section-Adventures awaits you******************/

.section-grid{
 border: 50px;
 background-color:var(--primay-color);
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  
}

.item1{
    grid-column: 3/5;
}
.item2{
    align-items: center;
    width:150px ;
    height: auto;
    grid-row: 2/3 ;
}  
.item3{
    width:150px ;
    height: auto;
    grid-row: 2/3 ;
}
.item4{
    width:150px ;
    height: auto;
    grid-row: 2/3 ;     
}
.item5{
    width:150px ;
    height: auto;
    grid-row: 2/3 ;     
}
.item6{
    width:150px ;
    height: auto;
    grid-row: 2/3 ;     
}

/*************************************************************************/
footer {
    background-color:var(--accent2-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
     
     
}

footer p{
    margin: 0 auto;
    
}
 
.sociallinks {
    width: 50px;
    height: 50px;
     
}
 
 .nav-icon{
   display: flex;
   gap: 100px;
 }